astroid==2.12.13
colorama==0.4.6
dill==0.3.6
Django==2.2.6
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
Pillow==9.3.0
platformdirs==2.5.4
psycopg2==2.8.6
psycopg2-binary==2.9.5
pylint==2.15.7
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.6
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.6
typing-extensions==4.4.0
wrapt==1.14.1
